/*CSS file for the actual game window (not the login window)*/
body
{
  background: black;
}

#bubbleBoundary {
  background-color: red;
  /*width: 50%;*/
  /*height: 400px;*/
}


div.container{
  width: 50%;
  height: 600px;
  background-image: url('clouds1.png');
  opacity: 20%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid red;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding-bottom: 100px;
  color: white;
}
  
  /*the following ID tags are for the bubbles that will be in the game window*/
  #bubble1
  {
    font-family: "Droid Sans", arial, "sans serif";
    color: rgb(0, 70, 183);
  }
  
  #bubble2
  {
    font-family: "Droid Sans", arial, "sans serif";
    color: rgb(0, 70, 183);
  }
  
  #bubble3
  {
    font-family: "Droid Sans", arial, "sans serif";
    color: rgb(0, 70, 183);
  }
  
  #bubble4
  {
    font-family: "Droid Sans", arial, "sans serif";
    color: rgb(0, 70, 183);
  }
  
  #bubble5
  {
    font-family: "Droid Sans", arial, "sans serif";
    color: rgb(0, 70, 183);
  }
  
  #bubble6
  {
    font-family: "Droid Sans", arial, "sans serif";
    color: rgb(0, 70, 183);
  }
  
  /*This is for the timer in the game*/
  #timer
  {
    font-family: "Droid Sans", arial, "sans serif";
    color: rgb(3, 63, 160);
  }