body{
    background: black;
}

#container{ /* this is the entire space holding all of the other elements on the page */
    width: 55%;
    height: 600px;
    background-image: url('BQBubbles.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid red;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
	margin-bottom: 80px;
    padding-bottom: 100px;
	position: relative;
	font-family: cursive;
	font-weight:bold;
	color: white;
	text-shadow:0px 1px 7px #000000;
}


.score{ /* styling for the box that will show the amount of verses missed, and verses gotten correct */
	padding: 10px 10px 10px 10px;
	margin-left: 20px; 
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: static;
	border-style: dotted solid;
    border-color: blue;
	text-align: center;
	font-size: 150%;

}

.time{ /* styling for the box that will show the total time it took for the player to complete the levels */
	padding: 20px 20px 20px 20px;
	margin-left: 20px; 
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
	position: static;
	border-style: dotted solid;
    border-color: blue;
	text-align: center;
	font-size: 150%;

}


.rank{ /* styling for where the rank of the player will be shown */
	padding: 20px 20px 20px 20px;
	margin-left: 20px; 
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
	position: absolute;
	right: 10px;
	left: 162px;
	border-style: double double dotted dotted;
    border-color: red;
	text-align: center;
	width: 50%;

}

.missed { /* styling for the box that shows the specific verses missed by the player */
	padding: 20px 20px 20px 20px;
	margin-left: 10px; 
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	left: 10px;
	border-style: double double dotted dotted;
    border-color: red;
	position: absolute;
	text-align: center;
}

.bestScores{ /* styling for where the best scores of the player will be shown */
    color: white;
    border-style: double double dotted dotted;
    border-color: red;
    padding: 20px 20px 20px 20px;
    margin-left: 50px; 
	margin-right: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
	position: absolute;
	right: 10px;
	bottom: 15px;
	text-align: center;
	width: 30%;
}

.ovScores{ /* styling for where the total scores of all the registered plays will be shown */
    float: right;
    color: white;
    border-style: dotted solid;
    border-color: blue;
    padding: 20px 20px 20px 20px;
    margin: 100px;
	position: absolute;
	margin-left: 50px; 
	margin-right: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
	position: absolute;
	right: 10px;
	bottom: 100px;
	text-align: center;
	width: 30%;
}

#gameOver /* this just styles the "Game Over" text that will show up once the levels are completed */
{
	padding: 10px 10px 10px 10px;
	position: relative;
	top: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	border-style: dotted solid;
	border-color: blue;
	text-align: center;
	font-size: 200%;
	
}

#playAgain { /* styling for the "Play Again" button */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #84acfa), color-stop(1, #0e357d));
	background:-moz-linear-gradient(top, #84acfa 5%, #0e357d 100%);
	background:-webkit-linear-gradient(top, #84acfa 5%, #0e357d 100%);
	background:-o-linear-gradient(top, #84acfa 5%, #0e357d 100%);
	background:-ms-linear-gradient(top, #84acfa 5%, #0e357d 100%);
	background:linear-gradient(to bottom, #84acfa 5%, #0e357d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#84acfa', endColorstr='#0e357d',GradientType=0);
	background-color:#84acfa;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:3px solid #313fd4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: cursive;
	font-size:20px;
	font-weight:bold;
	padding:8px 39px;
	text-decoration:none;
	text-shadow:0px 1px 7px #000000;
}
#playAgain:hover { /* styling for when the player's mouse hovers over the button */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0e357d), color-stop(1, #84acfa));
	background:-moz-linear-gradient(top, #0e357d 5%, #84acfa 100%);
	background:-webkit-linear-gradient(top, #0e357d 5%, #84acfa 100%);
	background:-o-linear-gradient(top, #0e357d 5%, #84acfa 100%);
	background:-ms-linear-gradient(top, #0e357d 5%, #84acfa 100%);
	background:linear-gradient(to bottom, #0e357d 5%, #84acfa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e357d', endColorstr='#84acfa',GradientType=0);
	background-color:#0e357d;
}
#playAgain:active { /* this is for positioning the button */
	position:relative;
	top:1px;
}
